/*
Fonts provided by google fonts
*/

* {
    font-family: 'Dosis', sans-serif;
}
body {
    padding:0px;
    margin:0px;
}

nav {
    position:fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #FDE04E;
}

main {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    height: auto;
    width: auto;
    order: 0;
    flex-grow: 1;
    text-align: center;
}

a {
    text-decoration: none;
    color:black;
}

u {    
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color:black;
    text-decoration: underline dotted gray;
}

a:visited {
    text-decoration: none;
    color:black;
    text-decoration: underline dotted gray;
}

a:hover {
    text-decoration: none;
    color:white;
    text-decoration: underline dotted white;
}

a:active {
    text-decoration: none;
    color:gray;
    text-decoration: underline dotted gray;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 6vw;
    margin: 0;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5vw;
    margin: 0;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4vw;
    margin: 0;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1vw;
    margin: 0;
}

section {
    width:100%;
    height: auto;
    padding-bottom:2vh;
}

footer {
    width: 100%;
    height:auto;
    background-color:#FDE04E;
    text-align:center;
    padding: 5px 0;
}

/*
Styling for forms
*/

main form,
main table {
  order: 1;
  flex-grow: 1;
  flex-basis: 100%;
  max-height: 70vh;
  height: auto;
  overflow-y:auto;
}

input,
select,
textarea {
  margin: 10px 0;
}

/*
Styling of the text inputs by http://callmenick.com/post/various-css-input-text-styles
To create a better looking text input
*/

input,
input,
select,
textarea {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}

input:focus,
input.focus,
select:focus,
select.focus,
textarea:focus,
textarea.focus {
  border: solid 5px #969696;
}

form {
    padding: 2vh;
}

input[type="submit"] {
    background-color: #969696;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="submit"].hover {
    background-color: lightgray;
}

/*
Table formatting
*/
tr {
    line-height: auto;
}

tr:hover {
  background-color: #FDE04E;
}

td {
  text-align:center;
  padding: 2%x;
}

th {
  padding: 2%;
}

.inverse {
    color:white;

}

.bg_gray {
    background-color: #c9c9c9;
}

.align-column {
    flex-direction: column;
}

.h_center {
    margin:0 auto;
}

.text_center {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.nav_bar ul {
    list-style:none;
    margin: 0;
    padding:0;
}

.nav_left {
    display: flex;
    order:0;
    padding-left:10px;
}

.nav_right {
    display: flex;
    justify-content: flex-end;
    order:1;
}

.nav_right ul {
    padding: 10px;
}

.nav_right ul li{
    display:inline;
    padding-right:5px;
}

/*
Tag Styling
*/

.tags_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 10px;
    color: white;
}

.tag {
    display: inline;
    padding: 10px;
    margin: 10px;
    background-color: #969696;
}

/*
Reference to http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
Solving the solution to a sticky footer bar
*/

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/*
Reference to http://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
Solving the solution to centering columns with flexbox
*/

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.aligner-item {
    max-width: 47vw;
}

/*
Below are for the section heights to divide the page into
different portions
*/

.section_100 {
    height: 100vh;
}

.section_75 {
    height: 75vh;
}

.section_66 {
    height: 66vh;
}

.section_50 {
    height: 50vh;
}

.section_33 {
    height: 33vh;
}

.section_25 {
    height: 25vh;
}

.index_title {
    width: 60%;
    height: auto;
}